/* RTL Support for Arabic Language */
html[dir="rtl"] body {
    text-align: right;
}

html[dir="rtl"] .navbar-nav.ml-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
}

html[dir="rtl"] .tm-next {
    float: right;
}

html[dir="rtl"] .mr-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
}

html[dir="rtl"] .ml-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
}

html[dir="rtl"] .text-left {
    text-align: right !important;
}

html[dir="rtl"] .text-right {
    text-align: left !important;
}

/* Adjust slick carousel for RTL */
html[dir="rtl"] .slick-slide {
    float: right;
}

/* Adjust contact form for RTL */
html[dir="rtl"] .contact-item .item-link {
    flex-direction: row-reverse;
}